@charset "UTF-8";

html {
	font-size: 62.5%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "MS P ゴシック", "MS P Gothic", sans-Serif;
	letter-spacing: .1em;
}

body {
	color: #333;
	background: #646464;
}

.l-container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	box-sizing: content-box;
	border-top: solid 3px $primary_color;
	border-right: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	border-left: solid 1px #CCC;
	background: #FFF;
	width: 1000px;
	min-height: 100vh;
}

header { position: relative; z-index: 2;
	.inner {
		padding: 10px 30px;
		height: 100px;
		background: url(/assets/images/common/bg-header.png) no-repeat right bottom;
		.logo { width: 200px;
			a { display: block; line-height: 0; width: 100%; }
			img { width: 100%; height: auto; }
		}
	}
	nav {
		ul {
			display: flex;
			box-shadow: 0px 3px 3px 1px rgba(0,0,0,.4);
			background: linear-gradient(to bottom, #f9f9f9 0%,#e1e1e1 50%,#cacaca 51%,#e6e6e6 100%);
			font-size: 12px;
			text-align: center;
		}
		li {
			position: relative;
			border-top: 1px solid #AAA;
			border-bottom: 1px solid #AAA;
			width: 143px;
			transition: .3s;
			&:before {
				display: block;
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
				content: "";
				background: linear-gradient(to bottom, #ffb55f 0%,#ff7a0f 50%,#f95e00 51%,#ff6702 100%);
				opacity: 0;
				transition: .3s;
			}
			&:hover,&.current {
				border-top: 1px solid #e85400;
				border-bottom: 1px solid #e85400;
				a { color: #FFF; }
				&:before { opacity: 1; }
				&:not(:last-child) { border-right: 1px solid #e85400; }
			}
			&:not(:last-child) { border-right: 1px solid #AAA; }
			&:first-child { width: 142px; }
			a {
				padding: 1em;
				display: block;
				position: relative;
				z-index: 2;
				line-height: 1;
				color: #262626;
				font-weight: bold;
				transition: .3s;
			}
		}
	}
}

footer {
	margin-top: auto;
	padding: 40px 0 20px;
	border-top: 4px solid $primary_color;
	height: 145px;
	background:	url(/assets/images/common/bg-footer.png),
						#DBDBDB;
	background-repeat: no-repeat;
	background-position: center bottom;
	font-size: 12px;
	nav { margin-bottom: 30px;
		ul { display: flex; justify-content: center; }
		li {
			padding: 2px 10px;
			border-left: 1px solid #888;
			&:last-child { border-right: 1px solid #888; }
		}
	}
	p { line-height: 1.5; text-align: center; }
	a { color: #262626;
		&:hover { color: #777; }
	}
}

.page-top {
  position: fixed;
	border-radius: 50%;
	bottom: -85px;
	right: 30px;
	opacity: .5;
  width: 60px;
  height: 60px;
  color: #FFF;
	background: $primary_color;
	text-align: center;
	transition: .5s;
	cursor: pointer;
	i { line-height: 55px; font-size: 40px; }
	&:hover { opacity: 1; }
}

p.btn-default {
	width: 280px;
	color: $primary_color;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	a {
		padding: 1em;
		border: 2px solid $primary_color;
		box-sizing: border-box;
		display: block;
		position: relative;
		overflow: hidden;
		z-index: 3;
		width: 100%;
		transition: .5s;
		&:before {
			position: absolute;
			left: 1em;
			content: "\f138";
			@include fa_icon();
		}
		&:after {
			border-radius: 50%;
			display: block;
			position: absolute;
			left: 50%;
			bottom: -55px;
			z-index: -1;
			width: 10px;
			height: 10px;
			content: "";
			background: $primary_color;
			transition: .5s;
			transform: translate(-50%,50%);
		}
		&:hover { color: #FFF;
			&:after { width: 350px; height: 350px; }
		}
	}
	&.center { margin-left: auto; margin-right: auto; }
}

a { color: $primary_color; text-decoration: none; transition: .3s;
	img { @include hover_ppacity(); }
}

p + p.btn-default,
dl + p.btn-default,
table + p.btn-default,
ul + p.btn-default,
.timetable-list + p.btn-default { margin-top: 2em; }

h1 { font-weight: bold; }

h2 {
	position: relative;
	border: solid 1px #EC650B;
	line-height: 1;
	color: #FFF;
	background: linear-gradient(to bottom, #ffb75e 0%,#ff8618 50%,#f74500 51%,#ff5e02 100%);
	font-weight: bold;
}

.pc-hidden { display: none; }
.ie-visible { display: none; }
.mode-ie {
	.ie-visible { display: block; }
	.ie-hidden { display: none; }
}
