.l-container {
  border-top: none;
	border-right: none;
  border-left: none;
  border-bottom: none;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  z-index: 997;
  width: 100%;
  background: #FFF;
  .inner {
    padding: px(20) 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 999;
    height: auto;
    background: none;
    .logo { width: px(200,580); }
    .btn-sp-nav {
      display: block;
      position: relative;
      z-index: 1002;
      width: px(60,580);
      cursor: pointer;
      transition: .3s;
      background: none;
      border: none;
      padding: 0;
      span {
        display: inline-block;
        box-sizing: border-box;
        border-radius: .4vmin;
        position: absolute;
        left: 0;
        width: 100%;
        height: 1.1vmin;
        background: $primary_color;
        transition: .4s;
        &:nth-of-type(1) { top: 15%; left: 50%; transform: translate(-50%); animation: line-top-off .5s forwards; }
        &:nth-of-type(2) { top: calc(50% - .55vmin); left: 50%; transform: translate(-50%); transition: opacity .5s; opacity: 1; }
        &:nth-of-type(3) { bottom: 15%; left: 50%; transform: translate(-50%); animation: line-bottom-off .5s forwards; }
      }
      &:before { padding-top: 100%; display: block; content: ""; }
      &.active {
        span {
          &:nth-of-type(1) { animation: line-top-on .5s forwards; }
          &:nth-of-type(2) { opacity: 0; }
          &:nth-of-type(3) { animation: line-bottom-on .5s forwards; }
        }
      }
    }
    &:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: .4em;
      content: "";
      background: $primary_color;
    }
    @keyframes line-top-on {
      0% { top: 15%; transform: translate(-50%); }
      50% {  top: 50%; transform: translate(-50%); }
      100% { top: 50%; transform: translate(-50%) rotate(45deg); }
    }

    @keyframes line-bottom-on {
      0% { bottom: 15%; transform: translate(-50%); }
      50% { bottom: 50%; transform: translate(-50%); }
      100% { top: 50%; bottom: auto; transform: translate(-50%) rotate(-45deg); }
    }

    @keyframes line-top-off {
      0% { top: 50%; transform: translate(-50%) rotate(45deg); }
      50% { top: 50%; transform: translate(-50%); }
      100% { top: 15%; transform: translate(-50%); }
    }

    @keyframes line-bottom-off {
      0% { top: 50%; transform: translate(-50%) rotate(-45deg); }
      50% { top: auto; bottom: 50%; transform: translate(-50%); }
      100% { bottom: 15%; transform: translate(-50%); }
    }
  }
  nav {
    position: fixed;
    top: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #FFF;
    transform: translateY(-100%);
    transition: .5s;
    ul {
      padding: px(119) px(30) 0;
      display: block;
      box-shadow: none;
      background: $light_color;
      @include vmin(24);
    }
    li {
      position: relative;
      border-top: none;
      border-bottom: none;
      width: 100%;
      &:before { display: none; }
			&:hover,&.current {
				border-top: none;
				border-bottom: none;
				a { color: $primary_color; }
				&:not(:last-child) { border-right: none; }
			}
      &:not(:last-child) {
        border-right: none;
        border-bottom-color: #FFF;
        border-bottom-style: solid;
        @include border_width(2,bottom);
      }
      &:first-child { width: 100%; }
      a { padding: px(40) 0; color: $primary_color; }
    }
    &.open { opacity: 1; transform: translateY(0);
      li {
        $i: 1;
        $delay: 0.15;
        @while $i <= 7 {
          &:nth-child(#{$i}) a {
            animation-delay: #{$delay}s;
          }
          $i: $i + 1;
          $delay: $delay + 0.15;
        }
        @keyframes navAni {
          100% { opacity: 1; transform: translateY(0); }
        }
        a {
          opacity: 0;
          transform: translateX(-2em);
          animation-name: navAni;
          animation-duration: .5s;
          animation-timing-function: ease;
          animation-fill-mode: forwards;
        }
      }
    }
    &:after {
      display: block;
      width: 100%;
      height: 16vmin;
      content: "";
      background: url(/assets/images/common/bg-sp-nav.svg) no-repeat center center;
      background-size: 100% auto;
    }
  }
	&.fixed { box-shadow: 0px .3em .5em 0 rgba(0,0,0,.2); }
}

main {
  padding-top: px(119);
}

footer {
	padding: 0 0 px(30);
	@include border_width(8,top);
	height: auto;
	background:	#DBDBDB;
  @include vmin(22);
	nav { margin-bottom: px(30);
		ul { display: block; }
		li {
      padding: 0;
      border-left: none;
      border-bottom-color: #CCC;
      border-bottom-style: solid;
      @include border_width(2,bottom);
			&:last-child { border-right: none; }
    }
    a { padding: 5%; display: block; position: relative;
      &:after {
        position: absolute;
        top: 50%;
        right: px(30);
        content: "\f054";
        color: #b0b0b0;
        @include vmin(28);
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        transform: translateY(-50%);
      }
    }
	}
	p { padding: 0 5%; }
}

.page-top { display: none; }

p.btn-default { width: 80%;
  a {
		@include border_width(4);
		@include vmin(24);
		transition: .3s;
		&:after { display: none; }
    &:hover { color: $primary_color; }
    &:active { color: #FFF; background: $primary_color; }
  }
}

.pc-hidden { display: block; }

.sp-hidden { display: none; }
