@charset "UTF-8";
p.btn-default {
	width: 280px;
	color: $primary_color;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	a {
		padding: 1em;
		border: 2px solid $primary_color;
		box-sizing: border-box;
		display: block;
		position: relative;
		overflow: hidden;
		z-index: 3;
		width: 100%;
		transition: .5s;
		&:before {
			position: absolute;
			left: 1em;
			content: "\f138";
			@include fa_icon();
		}
		&:after {
			border-radius: 50%;
			display: block;
			position: absolute;
			left: 50%;
			bottom: -55px;
			z-index: -1;
			width: 10px;
			height: 10px;
			content: "";
			background: $primary_color;
			transition: .5s;
			transform: translate(-50%,50%);
		}
		&:hover { color: #FFF;
			&:after { width: 350px; height: 350px; }
		}
	}
	&.center { margin-left: auto; margin-right: auto; }
}

a { color: $primary_color; text-decoration: none; transition: .3s;
	img { @include hover_ppacity(); }
}

p + p.btn-default,
dl + p.btn-default,
table + p.btn-default,
ul + p.btn-default,
.timetable-list + p.btn-default { margin-top: 2em; }

h1 { font-weight: bold; }

h2 {
	position: relative;
	border: solid 1px #EC650B;
	line-height: 1;
	color: #FFF;
	background: linear-gradient(to bottom, #ffb75e 0%,#ff8618 50%,#f74500 51%,#ff5e02 100%);
	font-weight: bold;
}

.pc-hidden { display: none; }
.ie-visible { display: none; }
.mode-ie {
	.ie-visible { display: block; }
	.ie-hidden { display: none; }
}
