p.btn-default { width: 80%;
  a {
		@include border_width(4);
		@include vmin(24);
		transition: .3s;
		&:after { display: none; }
    &:hover { color: $primary_color; }
    &:active { color: #FFF; background: $primary_color; }
  }
}

.pc-hidden { display: block; }

.sp-hidden { display: none; }
