@import url(https://use.fontawesome.com/releases/v5.5.0/css/all.css);

// カラー
$primary_color: #ff9f00;
$accent_color: #FFECCC;
$light_color: #FFF6E6;
$red: #DF002C;
$bule: #00F;

// ミックスイン
/*---------------------------------------------------------------------------*/
@import 'mixin';

/* リセット
----------------------------------------------------------------------------*/
@import 'reset';

/* 共通
----------------------------------------------------------------------------*/
@import 'common';

/* トップ
----------------------------------------------------------------------------*/
@import 'top';

/* コンテンツ
----------------------------------------------------------------------------*/
@import 'detail';

/* PRページ
----------------------------------------------------------------------------*/
.l-container.is-pr {
	padding: 30px 0;
	display: block;
	border: none;
	width: 100%;
	height: 100vh;
	min-height: 735px;
	background: #FFF;
	box-sizing: border-box;
	main {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
	.img-wrap {
		position: relative;
		width: 90%;
		max-width: 900px;
		line-height: 0;
		img { width: 100%; height: auto; }
		&:after {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			width: 100%;
			height: 100%;
			content: "";
		}
	}
}

/* スマートフォン
----------------------------------------------------------------------------*/
@media only screen and (max-width: 640px) {

/* 共通
----------------------------------------------------------------------------*/
@import 'common-sp';

/* トップ
----------------------------------------------------------------------------*/
@import 'top-sp';

/* コンテンツ
----------------------------------------------------------------------------*/
@import 'detail-sp';

/* PRページ
----------------------------------------------------------------------------*/
.l-container.is-pr { padding: 0; min-height: 0;
	main { padding: 0; }
}

}

/* フォーム用設定
----------------------------------------------------------------------------*/
#detail {
	@media only screen and (max-width: 414px) {
		.request-form iframe { height: 1370px; }
		.contact-form iframe { height: 1120px; }
	}
	@media only screen and (max-width: 360px) {
		.request-form iframe { height: 1400px; }
		.contact-form iframe { height: 1140px; }
	}
	@media only screen and (max-width: 320px) {
		.request-form iframe { height: 1470px; }
	}
}
